@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}

.snackbar-success {
  background-color: #4caf50;
  color: white;
}

.snackbar-error {
  background-color: #f44336;
  color: white;
}

.snackbar-warning {
  background-color: #ff9800;
  color: white;
}

.snackbar-info {
  background-color: #2196f3;
  color: white;
}
